image: node:18.19

stages:            # List of stages for jobs, and their order of execution
 - build
 - deploy
 
build_server:
  stage: build
  image: node:18.19
  script:
    - npm i -g parcel
    - cd ./node-server
    - npm install
    - parcel build app.js
    - ls dist/  # Log dist directory content
  artifacts:
    paths:
      - ./node-server/dist
    expire_in: 3 week
  rules:
    - if: $CI_COMMIT_BRANCH == "main"

build_angular:
  stage: build
  image: node:18.19
  script:
    - npm install -g typescript @angular/cli@19.0.4 @angular/compiler@19.0.4
    - echo My CI project directory is $CI_PROJECT_DIR
    - npm --version
    - cd ./cofmupy-gui-app
    - npm install
    - ./node_modules/.bin/ng build
    - ls dist/  # Log dist directory content
  artifacts:
    paths:
      - ./cofmupy-gui-app/dist
    expire_in: 3 week
  rules:
    - if: $CI_COMMIT_BRANCH == "main"

deploy-job:      # This job runs in the deploy stage.
  stage: deploy  # It only runs when *both* jobs in the test stage complete successfully.
  environment: production
  script:
    - echo "Deploying application..."
    - mkdir ./${CI_PROJECT_NAME}/
    - cp -r ./cofmupy-gui-app/dist/browser/* ./${CI_PROJECT_NAME}/
    - cp ./node-server/dist/app.js ./${CI_PROJECT_NAME}/
    - cp ./cofmupy-gui-app/README.md ./${CI_PROJECT_NAME}/README.md
  artifacts:
    name: ${CI_PROJECT_NAME}
    paths:
      - ./${CI_PROJECT_NAME}
    expire_in: 3 week
  rules:
    - if: $CI_COMMIT_BRANCH == "main"