
button, .bi{
    border: none;
    background: none;
    margin-right: 10px;
}
.top-right-panel{
    font-size: 24px;
    background-color: transparent;
    position:absolute;
    top:0;
    right:10px;
}
.bottom-right-panel{
    font-size: 24px;
    background-color: transparent;
    position:absolute;
    bottom:10px;
    right:10px;
}
.top-left-panel{
    font-size: 24px;
    background-color: transparent;
    position:absolute;
    top:0;
    left:10px;
}
.bottom-left-panel{
    z-index: 1000;
    font-size: 24px;
    background-color: transparent;
    position:absolute;
    bottom:30px;
    left:10px;
}
button, .bi:hover{
    color:rgb(101, 102, 101);
}
button, .bi:active{
    color:rgb(0, 0, 0);
}
.btn-link{
    font-size: 16px;
    color: #039be5;
}
.button_toolbar {
    font-size: 20px;
    background: none;
    border: none;
    color: whitesmoke;
    margin-right: 0px;
    padding: 0px;
}

.button_toolbar:hover {
    filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 1.0)) brightness(250%);
    cursor: pointer;
}

.button_toolbar:active {
    filter: brightness(150%);
    cursor: pointer;
}