.title-navbar{
  color: rgba(255, 255, 255, 0.65);
}

.navbar{
    background-color:rgb(30, 29, 31);
    height:40px;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}
a:hover {
  cursor:pointer;
 }
nav{
  padding-left: 10px;
  padding-right: 10px; 
}

.button_toolbar{
  background: none;
  border: none;
  color: whitesmoke;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.button_toolbar:hover{
  filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 1.0)) brightness(250%);
  cursor: pointer;
}

.button_toolbar:active{
  filter: brightness(150%);
  cursor: pointer;
}
