name: Build App, package and export to artifacts

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    
permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # build job
  build_app:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20, 22]
    
      
    steps:
    - uses: actions/checkout@v4

    - name: navigate to app directory
      run: |
        pwd
        cd ./cofmupy-gui-app

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        
    - name: Install Dependencies
      run: npm ci
        
    - name: Build
      run: |
        ./node_modules/.bin/ng build
        ls ./dist/cofmupy-gui
    - name: Add .nojekyll file
      run: touch ./dist/cofmupy-gui/browser/.nojekyll

    - name: Upload build as artifact
      uses: actions/upload-artifact@v4
      with:
        name: cofmupy-gui_V${{ matrix.node-version }}
        path: './dist/cofmupy-gui/browser'

      

