name: Build & Release CoFmuPy-gui

on:
  push:
    tags:
      - v*

jobs:
  build:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: ./cofmupy-gui-app

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - run: npm ci
      - run: npm run build --configuration production

      - name: Archive dist
        run: |
          cd dist
          zip -r CoFmuPy-gui-dist.zip .

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: ./cofmupy-gui-app/dist/CoFmuPy-gui-dist.zip
